.message {
    background-color: greenyellow;
    width: 300px;
    padding: 10px;
    display: grid;
    grid-template-areas:
    "avatar messageInner messageInner";

}

.avatar img {
    width: 60px;
    border-radius: 50px;
    margin-top: 30px;
}

.messageInner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 220px;
    height: 90px;
    background-color: #026502;
    padding: 5px;
    border-radius: 10px 10px 10px 0px;

}

.name {
    display: flex;
    margin: 5px 10px;
    font-size: 25px;
    font-weight: bold;
    color: #884fc2;
}

.current_message {
    display: flex;
    justify-content: end;
    max-width: 200px;
    color: #94ce5e;
    margin: 10px;
    word-wrap: break-word;

}

.time {
    display: flex;
    color: #5f865f;
    justify-content: end;
    padding-top: 10px;
    padding-left: 5px;

}

.triangle {
    width: 0;
    height: 0;
    border-bottom: 10px solid #026502;
    border-left: 15px solid transparent;
    margin-top: 90px;
}