.all {
    display: grid;
    grid-template-areas:
    "top"
    "bottom";
    background-color: rgb(255, 244, 120);
    width: 290px;
    height: 180px;
    padding: 10px;
}

.affairsAllandButtonsDelete {
    grid-area: top;
    font-size: 20px;
    font-family: Athelas;

}

.sortButtons {
    grid-area: bottom;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.sortButtons button {
    height: 25px;
    background-color: cornflowerblue;
    color: #ffffff;
    font-family: Athelas;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid cornflowerblue;
    margin: 10px;
}

.affairOneButtonOne {
    display: flex;
    justify-content: space-between;
    color: cornflowerblue;
}

.affairOne {
    display: flex;
    justify-content: space-between;
    width: 250px;
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;

}

.buttonDeleteOne button {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    color: cornflowerblue;
    font-size: 15px;
    background-color: rgb(255, 244, 120);
}


/*.affairsAll button {
    height: 20px;
    background-color: cornflowerblue;
    color: #ffffff;
    font-family: Athelas;
    margin: 3px;
    border-radius: 10px;
    border: 2px solid cornflowerblue;

}*/
