.superInput {

    border: 2px solid #230f8d;
    box-shadow: 0 0 5px #ffffff;
    background-color: #c3e0f8;
    outline: none;
}

.errorInput {
    border: 2px solid #8d2424;
    background: #eca7a7;
    box-shadow: 0 0 5px #8d2424;
    outline: none;
}

.error {
    color: #8d2424;
    font-family: Copperplate;
}