.select {
    appearance: none;
    width: 100px;
    height: 20px;
    color: greenyellow;
    background-color: darkgrey;
    text-align: center;
    font-weight: bold;
}
.select:hover {
    background-color: greenyellow;
    color: darkgrey;
}