.blue {
    border-bottom: 5px solid blue;
    background-color: white;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.testSpanError {
    color: #833c3c;
}

.inputsAndSpan {
    display: flex;
    flex-direction: column;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}