.header {
    width: 300px;
    height: 150px;

}
.level {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #b1b9c7;
    font-weight: bold;
    background-color: deeppink;
    padding: 10px;

}
.menu {
    position: relative;
    display: flex;
    justify-content: center;

}
.menu li {
    width: 200px;
    list-style: none;
    background-color: white;
    position: relative;
    border-top: 1px solid white;

}
.menu a{
    color: deeppink;
    font-family: "Andale Mono";
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    transition: all .5s;
}
.menu a:hover{
    color: white;
    background-color: deeppink;
    font-weight: bolder;

}
.menu a:active{


}
.menu ul{
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    display: none;
}
.menu li:hover ul {
    display: block;

}
