.HW3 {
    width: 240px;
    height: 200px;
    background-color: rgba(217, 217, 217, 0.76);
    padding: 10px;
}
.someClass {
    border: 1px solid #000000;
    background-color: #ddf1fd;
    box-shadow: 0 0 5px black;
}

/*.error {
    border: 1px solid red;
    background-color: #fddede;
    box-shadow: 0 0 5px red;
}*/

.errorMessage {
    display: flex;
    justify-content: center;
    font-family: Copperplate;
    font-size: 20px;
    width: 240px;
    color: red;
    margin-top: 15px;
}

.buttonAdd {
    color: white;
    background-color: #919191;
    height: 30px;
    width: 60px;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    font-family: "Lao MN";
}

.totalAll {
    width: 240px;
    display: grid;
    grid-template-areas:"total"
"totalUsers";
    justify-content: center;

}

.total {
    grid-area: total;
    font-family: "Lao MN";
    font-size: 30px;
    font-weight: bolder;
    color: brown;
}

.totalUsers {
    text-align: center;
    grid-area: totalUsers;
    color: #919191;
    background-color: #ffffff;
    border: 2px dotted #919191;
    font-weight: bolder;
    font-size: 30px;
    padding: 5px;
    font-family: Dialog;
    border-radius: 10px;
}