.HW3 {
    border: 1px solid #254f9c;
    background: #9e8ff8;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 290px;
    height: 200px;
    padding: 10px;
}

.someClass {
    border: 1px solid #000000;
    background-color: #ddf1fd;
    box-shadow: 0 0 5px black;
}

.inputButton {
    height: 90px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.totalAll {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.total {
    font-family: "Academy Engraved LET";
    font-size: 30px;
    color: #ffffff;
}

.totalUsers {
    padding: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #e36870;
    background-color: #ffffff;
    border: 2px dotted #919191;
    font-weight: bolder;
    font-size: 35px;
    font-family: "Academy Engraved LET";
    border-radius: 10px;
}